<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="org.maven.automation.qauto.testscripts.RetryListener"></listener>
<listener class-name="org.maven.automation.qauto.testscripts.Listner"></listener>
</listeners>
  <test name="Test">
  <groups>
  <run>
  <exclude name="Regression"></exclude>
  <include name="sanity"></include>
  </run>
  
  </groups>
  
    <classes>
      <class name="org.maven.automation.qauto.testscripts.TngunitClass1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
